body {
    margin: 0;
}

.container{
    display: flex;
    height: 200vh;
}

.left{
    display: flex;
    background-color: white;
    width: 15vw;
    height: 190vh;
    align-items: center;
    justify-content: center;
}

.right{
    display: flex;
    background-color: white;
    width: 15vw;
    height: 190vh;
    align-items: center;
    justify-content: center;
}

.main{
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    background-color: white;
    width: 100vw;
    height: 190vh;
    align-items: center;
    padding-top: 100px;
}

.form-signin {
    width: 500px;
    margin:50px;
    display: flex;
    min-width: 100px;
}

.form-signin input {
     height: 50px;
     width: 500px;
     overflow: hidden;
     background-color: white;
     border-radius: 9px;
}

.button {
    display:flex;
}